* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 20px 0;
  }
  
  header h1 {
    text-align: center;
    font-size: 36px;
  }
  
  nav {
    text-align: center;
    margin-top: 10px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  .hero {
    background-image: url('assets/background.jpg');
    background-size: cover;
    background-position: center;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 150px 100px;
  }
  
  .hero h2 {
    font-size: 40px;
    margin-bottom: 10px;
  }
  
  .hero p {
    font-size: 18px;
  }
  
  
  
  .cta {
    background-color: #333;
    color: white;
    padding: 50px 20px;
    text-align: center;
  }
  
  .cta h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .cta .btn {
    background-color: #ff5722;
    color: white;
    padding: 10px 25px;
    font-size: 10px;
    text-decoration: none;
    border-radius: 10px;
  }
  
  .cta .btn:hover {
    background-color: #e64a19;
  }
  
  footer {
    background-color: #333;
    color: rgb(252, 251, 251);
    padding: 20px 0;
    text-align: center;
  }
  
  footer a {
    color: white;
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  